body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b3595 ;
  font-family: 'Bungee', cursive;
  color: #d7d7d7;
  font-size: 1.5em;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gametitle {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 20px;
  font-size: 4em;
  background-color: #e14594
}

.gamelayout {
  padding-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumslayout {
  float: left;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.album {
  margin: 5px;
  padding: 20px;
  display:inline-block;
  border-style: solid;
  border-color: #7045af;
  width: 70%;
  background-color: #182952;
  font-size: 0.7em;


}

.answer {
  vertical-align: super;
  margin: 5px;
  margin-bottom: 15px;
  font-family: 'Bungee', cursive;
}

.guessinput {
  height: 40px;
  resize: none;
  overflow: hidden;
  font-size: 1.5em;
  margin: 10px;
  font-family: 'IBM Plex Sans', sans-serif;

}

.hintimage {
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  height:100px;
  width:100px;
}

/* generated submit button */
.submitbutton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #7045af;
  border-radius: 8px;
  background: #7045af;
  text-shadow: #646464 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #d7d7d7;
  text-decoration: none;
  font-family: 'Bungee', cursive;
}
.submitbutton:hover,
.submitbutton:focus {
  background: #e14594;
  text-decoration: none;
}
.submitbutton:active {
  background: #8b8b8b;
  background: -webkit-gradient(linear, left top, left bottom, from(#8b8b8b), to(#8b8b8b));
  background: -moz-linear-gradient(top, #8b8b8b, #8b8b8b);
  background: linear-gradient(to bottom, #8b8b8b, #8b8b8b);
}